.first{
    display: flex;
  }

  .movies{
    padding-top: 40px;
    margin-left: 320px;
    margin-top: -530px;
  }
  .alink{
    margin-left: 120px;
    border: 2px solid blue;
    padding: 5px 20px;
    transition: 0.5s;
  }
  .alink:hover{
    background-color: blue;
    color: white;
  }
  .card ul{
    text-decoration: none;
    display: flex;
    padding-top: 20px;
  }
  .card img{
    width: 200px;
    margin-left: 20px;
  }