.texts{
    padding-top: 20px;
}
.header-media {
  margin-left: 10px;
}
.header-media .container{
    width: 210px;
}
.divs{
    display: flex;
    padding: 10px;
}
.divs img{
    width: 50px;
    height: 48px;
}
.divs .navlink{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-top: -20px;
    color: rgba(0, 0, 0, 0.45);
    margin-left: 20px;
}
.h5{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    margin-left: 20px;
    flex-wrap: wrap;
    width: 100px;
    padding-top: 20px;
    font-size: 30px;
    line-height: 42px;
    color: rgba(0, 0, 0, 0.45);
}
.h5:hover{
    color: black;
}