.header_search .container{
    width: 900px;
}
.header_search{
    margin-top: -400px;
    margin-left: 170px;
}
.card ul{
    text-decoration: none;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .card img{
    border-radius: 30px;
    width: 340px;
    height: 420px;
    margin-left: 20px;
  }
  .card li:hover{
    opacity: 0.8;
  }
 .header_search h1{
    color: blue;
    font-size: 40px;
    margin-left: 30px;
 }
 .card p{
    margin-left: 20px;
    padding-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
 }
 .films{
    margin-top: -10px;
    font-size: 30px;
    margin-left: 50px;
    color: rgb(1, 1, 108);
 }
 .small{
    display: flex;
    padding-top: 20px;
 }
 .home{
    border: 2px solid blue;
    padding: 10px 30px;
    font-size: 30px;
    margin-left: 30px;
 }
 .see{
    border: 2px solid blue;
    padding: 10px 30px;
    font-size: 30px;
    margin-left: 30px;
 }
 .home:hover{
    background-color: blue;
    color: white;
 }
 .see:hover{
    background-color: blue;
    color: white;
 }
